CREATE TABLE IF NOT EXISTS public.yil_registrations ( id uuid default gen_random_uuid() primary key, created_at timestamp with time zone default timezone('utc'::text, now()) not null, full_name text not null, whatsapp_number text not null, number_of_kids integer not null, status text not null default 'pending' );
